*{
  margin: 0;
  padding: 0;
}
.container,footer{
  background-color: teal;
  color: white;
}
footer,header{
  text-align: center;
}
.btn-outline-secondary{
  background-color: #007bff;
  color: white;
}
